<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.jmm"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
     <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!--
             <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        -->

        <activity
            android:name="edu.jmm.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.jmm.MainFragmentActivity"
            android:label="@string/app_name" >
            <intent-filter>
            </intent-filter>
        </activity>
        <activity
            android:name="edu.jmm.DrawableAcc"
            android:label="@string/app_name" >
            <intent-filter>
            </intent-filter>
        </activity>
         <activity
            android:name="edu.jmm.AcelerometerActivity"
            android:label="@string/app_name" >
            <intent-filter>
            </intent-filter>
        </activity>
        <activity
            android:name="edu.jmm.DetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
            </intent-filter>
        </activity>
        <activity
            android:name="edu.jmm.ActivityLifeCycle"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
            </intent-filter>
        </activity>
        <activity
            android:name="edu.jmm.intentsdemo.FetchPhotoActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
            </intent-filter>
        </activity>
        <activity
            android:name="edu.jmm.intentsdemo.ViewImageActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="edu.jmm.action.IMAGE_VIEWING_REQUESTED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.jmm.contentproviderdemo.ContentProviderActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
            </intent-filter>
        </activity>
        <activity
            android:name="edu.jmm.PreferencesActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
            </intent-filter>
        </activity>
        <activity
            android:name="edu.jmm.mapsdemo.MapActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
            </intent-filter>
        </activity>
        <activity
            android:name="edu.jmm.sqlservicedemo.StartUpActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
            </intent-filter>
        </activity>
        <activity
            android:name="edu.jmm.sqlservicedemo.DisplayItemsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
            </intent-filter>
        </activity>
        

        <service
            android:name="edu.jmm.sqlservicedemo.QueryService"
            android:enabled="true" >
        </service>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAwhWJxBFN6ADjxv02Iy8beuldaB6qtxFg" />

        <activity
            android:name="edu.jmm.Notification"
            android:label="@string/title_activity_notification" >
        </activity>
        <activity
            android:name="edu.jmm.NotificationSubActivity"
            android:label="@string/title_activity_notification_sub" >
        </activity>
    </application>

</manifest>